.App {
  text-align: center;
}

.content-head-home {
  font-size: 50px;
  display: flex;
  flex-direction: column;
}
.container-home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.paragraph-home {
  font-size: 18px;
  color: rgb(80, 67, 67);
}
.btn-home {
  background-color: rgb(41, 85, 228);
  width: 150px;
  height: 40px;
  border-style: none;
  border-radius: 30px;
  color: white;
}
.btn-home:hover {
  background-color: rgb(144, 57, 224);
}
.home {
  border: 2px rgb(7, 7, 7) solid;
  box-sizing: border-box;
}
.canvas{
  margin: 3px;
  height:inherit;
}
